@use "../../../../Variable.scss" as variable;

.about_movie {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	.content {
		padding: 5px;
		padding-top: 0;
		height: 100%;
		overflow: hidden;

		h3,
		p {
			color: variable.$white;
		}

		p {
			padding-top: 160px;
		}
	}
}
