@use "../Variable.scss" as variable;

.auth {
	.content {
		width: 100%;
		height: calc(80vh);
		display: flex;
		align-items: center;
		justify-content: center;

		form {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 20px;
			max-width: 400px;
			width: 100%;
			margin-bottom: 200px;

			h2 {
				font-size: 32px;
				color: variable.$red;
			}

			input,
			button {
				outline: none;
				border: 1px solid variable.$gray;
				color: variable.$white;
				background: transparent;
				padding: 10px;
				width: 100%;
				transition: 1s;

				&:hover {
					border-color: variable.$white;
				}
			}

			input {
				&:focus {
					border-color: variable.$blue;
				}
			}

			button {
				&:active {
					border-color: variable.$blue;
					color: variable.$blue;
				}
			}
		}
	}
}
